div {
  color: rgb(60, 226, 69);
}

.alert-text {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}

#title {
    background-color: red;
    color: rgb(0, 0, 0);
}

.read,
.unread {
    color: white;
    background-color: black;
}

.subsection.header {
    color: red;
}

.subsection#preview {
    color: blue;
}

.ancestor .contents {
    color: rgb(204, 38, 168);
}

img {
    height: auto;
    width: 250px;
}